:root {
    --extra-dark-green: #1B2D22;
    --dark-green: #2A4032;
    --light-green: #3A5E46;
    --yellow: #FDDE67;
    --white: #FFFFFF;
    --white-30: #FFFFFF4D;
    --white-80: #FFFFFFCC;
    --dark-black: #181818;
    --black-60: #00000099;
    --bleck-20: #00000033;
    --light-gray: #C5C2CA;
    --bg-gray: #E9E9E9;
    --bg-timer: #3B5F47;
    --dark-black-40: #18181840;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Lato;
}
.container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
.intro {
    background-image: linear-gradient(to bottom right, var(--dark-green), var(--light-green));
    height: 640px;
    min-width: 360px;
}
.intro .top {
    padding: 27px 15px 0 15px;
}
.intro .top .year {
    display: block;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: var(--white-30);
}
.intro .top h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 50px;
    text-align: left;
    color: var(--white);
    margin: 12px 0;
}
.intro .top .discount {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: var(--white-80);
}
.intro .top .btn {
    width: 180px;
    height: 49px;
    background-color: var(--yellow);
    margin-top: 24px;
    border-radius: 6px;
    padding: 16px 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: var(--dark-black);
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 3;
}
.intro .bottom {
    position: relative;
}
.intro .bottom img {
    width: 208px;
    height: 391px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    top: -30px;
    z-index: 2;
}
.intro .bottom .green-circul {
    width: 198.55px;
    height: 198.55px;
    border-radius: 50%;
    background-color: var(--extra-dark-green);
    position: absolute;
}
.intro .bottom .first-circul {
    top: 85px;
    left: 10%;
    z-index: 1;
}
.intro .bottom .second-circul {
    top: 20px;
    left: 40%;
    z-index: 1;
}
.intro .mobile-nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 48px;
    background-color: var(--yellow);
    z-index: 3;
}
.intro .mobile-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 49px;
}
.intro .mobile-nav ul li {
    padding: 0 15px;
}
.brands {
    background-color: var(--dark-black);
    width: 100%;
    height: 34px;
    min-width: 360px;
}
.brands ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 360px;
    height: 34px;
}
.newCollection {
    min-width: 360px;
}
.newCollection .container {
    padding: 32px 15px;
}
.newCollection h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
}
.newCollection ul {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.newCollection ul .jacketCollection {
    background-color: var(--light-gray);
    border-radius: 24px;
    position: relative;
}
.newCollection ul .jacketCollection span {
    display: block;
    padding: 18px 0 36px 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.newCollection ul .jacketCollection img {
    width: 197px;
    height: 339px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.newCollection ul .btn {
    width: 167px;
    height: 49px;
    border-radius: 6px;
    background-color: var(--dark-black);
    padding: 16px 40px;
    position: absolute;
    right: 18px;
    bottom: 18px;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    text-decoration: none;
}
.newCollection ul .sunglassCollection {
    background-color: var(--yellow);
    border-radius: 24px;
    position: relative;
}
.newCollection ul .sunglassCollection img {
    width: 189px;
    height: 216px;
    margin-top: 30px;
}
.newCollection ul .sunglassCollection .topic {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 18px;
}
.newCollection ul .sunglassCollection .discount {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    position: absolute;
    top: 109px;
    right: 40px;
}
.bestSellers {
    background-color: var(--bg-gray);
    min-width: 360px;
}
.bestSellers .container {
    padding: 32px 15px;
}
.bestSellers h2 {
    font-family: Lato;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
.bestSellers ul {
    margin-top: 32px;
    display: flex;
    gap: 35px;
    overflow-x: scroll;
}
.bestSellers ul li {
    position: relative;
    width: 228px;
}
.bestSellers ul li .productPhoto {
    width: 228px;
    height: 220px;
    border-radius: 24px;
    background-color: var(--white);
    text-align: center;
    padding: 32px 0;
}
.bestSellers ul li .productInfo {
    margin-top: 16px;
    width: 228px;
}
.bestSellers ul li .productPhoto img {
    width: 133px;
}
.bestSellers ul li .productInfo .productName {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}
.bestSellers ul li .productInfo .productPrice {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
    text-align: left;
    color: var(--black-60);
}
.bestSellers ul li:last-of-type .productInfo .productPrice {
    text-decoration: line-through;
    display: inline-block;
    color: var(--bleck-20);
}
.bestSellers ul li:last-of-type .productInfo .discountedPrice {
    display: inline-block;
    margin-left: 12px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: left;
}
.bestSellers ul li .shoppingList {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: var(--yellow);
    position: absolute;
    bottom: 2.5px;
    right: 0;
    padding: 3px;
    border: none;
    cursor: pointer;
}
.bestSellers ul li label .faker {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}
.bestSellers ul li label .faker-2 {
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
}
.bestSellers ul li label input {
    display: none;
}
.bestSellers ul li label .checkbox:checked ~ .faker-2 {
    display: block;
    cursor: pointer;

}
.bestSellers ul li .discount {
    width: 41px;
    height: 20px;
    background-color: var(--light-green);
    border-radius: 6px;
    padding: 3px 6px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    text-align: left;
    color: var(--white);
    position: absolute;
    top: 16px;
    left: 16px;
}
.timer {
    padding: 32px 15px 80px 15px ;
    background-color: var(--bg-timer);
    min-width: 360px;
}
.timer h2 {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: var(--white);
    margin-bottom: 32px;
}
.timer .countDown {
    display: flex;
    justify-content: center;
    gap: 12px;
}
.timer .countDown li {
    width: 54px;
}
.timer .countDown li .square {
    width: 54px;
    height: 56px;
    border-radius: 8px;
    padding: 12px 13px;
    background-color: var(--dark-black-40);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: var(--white);
}
.timer .countDown li:first-of-type .square {
    padding: 12px 20px;

}
.timer .countDown li span {
    display: block;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    text-align: center;
    color: var(--white);
    margin-top: 12px;
}
@media screen and (max-width: 1399px) {
    header {
        display: none;
    }
    .intro .bottom .discount,
    .intro .bottom .price {
        display: none;
    }
    .brands ul .adidas {
        width: 41px;
        height: 10px;
    }
    .brands ul .prada {
        width: 64.4px;
        height: 10px;
    }
    .brands ul .nike {
        width: 28px;
        height: 10px;
    }
    .brands ul .hm {
        width: 28px;
        height: 10px;
    }
    .brands ul .gucci {
        width: 40px;
        height: 8px;
    }
    .brands ul .blk {
        width: 36px;
        height: 10px;
    }
}
@media screen and (min-width: 1400px) {
    .container {
        width: 1320px;
        margin: 0 auto;
        max-width: none;
    }
    .intro {
        min-width: none;
        height: 750px;
    }
    .intro .mobile-nav {
        display: none;
    }
    .intro .container {
        display: flex;
        justify-content: space-between;
    }
    .intro header {
        width: 1320px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }
    .intro header a {
        text-decoration: none;
    }
    .intro header h1 {
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        color: var(--white);
    }
    .intro header .menu {
        display: flex;
        gap: 32px;
    }
    .intro header .menu li a {
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        color: var(--white-30);
        text-decoration: none;
    }
    .intro header .menu li:first-of-type a {
        color: var(--white);
    }
    .intro header .btn {
        width: 40px;    
        height: 40px;
        background-color: var(--yellow);
        border-radius: 20px;
        padding: 12px;
    }
    .intro .top {
        padding: 85px 0 0 0;
    }
    .intro .bottom img {
        width: 342px;   
        height: 619px;
        left: -340px;
        top: 65px;        
    }
    .intro .bottom .green-circul {
        width: 318px;
        height: 318px;
    }
    .intro .bottom .first-circul {
        top: 290px;
        left: -580px;
        z-index: 1;
    }
    .intro .bottom .second-circul {
        top: 190px;
        left: -410px;
        z-index: 1;
    }
    .intro .bottom .discount {
        width: 110px;
        height: 110px;
        border-radius: 72px;
        padding: 25px 15px 15px 15px;
        color: var(--dark-black);
        background-color: var(--yellow);
        position: absolute;
        top: 180px;
        left: -510px;
        z-index: 4;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 700;
        line-height: 30.47px;
        text-align: center;
    }
    .intro .bottom .price {
        font-size: 36px;
        font-weight: 500;
        line-height: 43.2px;
        text-align: center;
        color: var(--white);
        position: absolute;
        top: 140px;
        left: -570px;
    }
    .intro .top .year {
        font-size: 60px;
        line-height: 72px;
    }
    .intro .top h2 {
        font-size: 112px;
        line-height: 100px;
        margin: 24px 0;
        letter-spacing: 0.13em;
    }
    .intro .top .discount {
        font-size: 25px;
        line-height: 30px;
    }
    .intro .top .btn {
        margin-top: 49px;
    }
    .brands {
        height: 100px;
        min-width: none;
    }
    .brands ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: none;
        height: 100px;
    }
    .newCollection {
        min-width: unset;
    }
    .newCollection .container {
        padding: 70px 0px;
    }
    .newCollection h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .newCollection ul {
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        gap: 80px;
    }
    .newCollection ul .jacketCollection {
        width: 500px;
    }
    .newCollection ul .jacketCollection span {
        padding: 24px 0 8px 25px;
        font-size: 24px;
        line-height: 40px;
    }
    .newCollection ul .jacketCollection img {
        width: 278px;
        height: 478px;
    }
    .newCollection ul .btn {
        right: 24px;
        bottom: 24px;
    }
    .newCollection ul .sunglassCollection {
        width: 740px;
    }
    .newCollection ul .sunglassCollection img {
        width: 455px;
        height: 520px;
        margin-top: 30px;
    }
    .newCollection ul .sunglassCollection .topic {
        font-size: 24px;
        line-height: 40px;
        top: 72px;
        right: 98px;
    }
    .newCollection ul .sunglassCollection .discount {
        font-size: 48px;
        line-height: 56.25px;
        top: 247px;
        right: 96px;
    }
}